.globe {

}

body {
  margin: 0;
  padding: 0;
}

.countryText {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
  margin: 5px;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 70%;
  flex-direction: column;
}

.countryText h1,
.countryText h2 {
  margin: 0 10px;
  flex-direction: row;
}

.songPlayer {
  margin-top: 10px; /* Space between headers and the rectangle */
  height: 50px;
  width: 200px;
  background-color: #ff0000;
}

button {
  margin: 0;
  position: absolute;
  top: 90%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 70%;
}

h3{
  color: white;
  margin: 0;
  position: absolute;
  top: 90%;
  left: 56.5%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.streak{

  top: 90%;
  left: 55%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  width: 35px;
  height: 35px;

}

.profile {
  top: 5%;
  right: 0;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  height: 50px;
  width: 200px;
  background-color: #ff0000;
}

.leaderboard{
  position: absolute;
  top: 0;
  left: 5%;
  flex-direction: column;
  display: flex;
  text-align: center;
  color: white;
  opacity: 70%;
}

.leaderboardCard {

  top: 5%;
  left: 5%;


  margin: 5px;
  height: 50%;
  width: 100%;
  border-radius: 5px;
  background-color: #ffffff;
  opacity: 70%;
  text-align: center;
  color: black;

}